body {
	background: rgb(240, 240, 240);
	color: rgb(40, 40, 40);
	font-size: 16px;
	text-align: center;
}

ul {
	list-style: none;
	margin: 0;
	max-width: 100%;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	max-width: 100%;
	padding: 0.5rem;
}

li:nth-child(2n+1) {
	background: rgb(200, 200, 200);
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}